{% extends 'base.html.twig' %}
{% form_theme form 'mybootstrapform.html.twig' %}
{% block header -%}
    {{ encabezado }}
{% endblock %}
{% block body %}
<div class="col-xs-12 col-md-8">
    
    <form class="form-horizontal" action="{# path('blankpass')#}" method ="post" {{ form_enctype(form)}}>
        {{ form_widget(form) }}
    </form>
</div>
{% endblock %}