{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{% block header -%}
    Creando Usuario
{% endblock %}
{% block body %}
<div class="col-xs-12">
    {{ form(form) }}
</div>
{% endblock %}